html {
	--color-accent: oklch(65% 50% 0);
	accent-color: var(--color-accent);
    color-scheme: dark;
    margin-inline:auto;
    border-bottom-color: var(--border-color);
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  display:grid
  max-width:100ch;
  margin-inline:auto;
  padding: 50px;


}

nav {
    --border-color: oklch(50% 10% 200 / 40%);
	display: flex;

}


ul {
	display: contents;
}
li {
	display: contents;
}
a {
	flex: 1;
	text-decoration: none;
	color:inherit;
	text-align: center;
	padding: 0.5em;
	margin-bottom: 50px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:oklch(80% 3% 200);

}

a:hover {
	border-bottom-width:0.4em;
	border-bottom-style:solid;
	border-bottom-color:oklch(65% 50% 0);
	background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}


.current {
	border-bottom-width: 0.4em;
	border-bottom-color:oklch(80% 3% 200);
	padding-bottom: 0.25em;
}

.grid {
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 1em;



}
.subgrid1 {
    display:contents;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

}

.subgrid2 {
    display:contents;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

}
.subgrid3 {
    display:contents;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

}
.Submit_Button{
    display:block;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: inherit;
}

article {
    grid-template-rows: subgrid;
    grid-row: span 3; 

}

h2 {
    margin: 0;
}



 
